# Ignored folders
bin/

# SIMPL Windows programs
*.spz
*.sig
*.sm2
*.smft

# Panel files
*.sgd
*.zip
*.vtz
*.vtz.hash
*.asv
*Core3.hash
*(iPad).Core3/

# Visual Studio
*.suo
*.user
*.projectinfo
[Dd]ebug/
[Rr]elease/
